/*
 * Custom CSS
 */

@import url("https://fonts.googleapis.com/css?family=Open+Sans");

html {
  height: 100%;
}

body {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.custom-bg {
  background-color: #28aae6 !important;
}

.custom-text {
  color: #28aae6 !important;
}

nav {
  padding: 16px;
}

.logo {
  height: 150%;
}

.navbar-default {
  background-color: #28aae6;
  border-color: #28aae6;
}

.navbar-default .navbar-nav li a {
  color: #ffffff;
  font-size: medium;
  cursor: pointer;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #28aae6;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff !important;
}

.p-header {
  top: 0;
  text-align: center;
  padding: 1%;
  background-color: #277599;
  margin-bottom: 2%;
  margin-top: -2%;
  font-size: 1.5em;
  color: #ffffff;
}

main {
  flex: 1;
  /* padding-top: 100px;
  padding-bottom: 70px; */
}

.index-item {
  background-color: #2c99cc;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  padding-top: 20px;
  margin: auto;
}

.index-item img {
  width: 40%;
  margin: 2%;
}

.index-header {
  font-size: 1.5em;
  width: 70%;
  margin: auto;
  text-align: center;
}

.terms {
  margin-top: 16px;
}

.terms a {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  line-height: 1.5em;
}

.btn-custom {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}

.btn-custom:focus,
.btn-custom.focus {
  color: #fff;
  background-color: #286090;
  border-color: #122b40;
}

.btn-custom:hover {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}

.dash-item {
  margin: auto;
  cursor: pointer;
  text-align: center;
}

.dash-item img {
  width: 40%;
  margin: auto;
}

/*
 * Fade Bs-carousel
 */

.carousel {
  height: 70vh;
  margin-top: -20px;
  margin-bottom: -60px;
}

.carousel .carousel-inner .item {
  height: 60vh;
}

.carousel .slides .slide-1,
.carousel .slides .slide-2,
.carousel .slides .slide-3,
.carousel .slides .slide-4 {
  height: 90vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.carousel .slides .slide-1 {
  background-image: url(../images/1.jpg);
}

.carousel .slides .slide-2 {
  background-image: url(../images/2.jpg);
}

.carousel .slides .slide-3 {
  background-image: url(../images/3.jpg);
}

.carousel .slides .slide-4 {
  background-image: url(../images/4.jpg);
}

.carousel-caption {
  text-align: left;
  left: 1%;
}

.carousel .carousel-inner .item .carousel-caption {
  opacity: 0;
}

.carousel .carousel-inner .item.active .carousel-caption {
  opacity: 1;
  -webkit-transition: 2s all ease-in-out 0.1s;
  -moz-transition: 2s all ease-in-out 0.1s;
  -ms-transition: 2s all ease-in-out 0.1s;
  -o-transition: 2s all ease-in-out 0.1s;
  transition: 2s all ease-in-out 0.1s;
}

/*
 * Footer
 */

footer {
  margin-top: 8px;
  padding: 40px;
  background-color: #2a3134;
  display: block;
  font-size: small;
  text-align: center;
  bottom: 0;
}

footer a {
  color: #cdcdcd !important;
  cursor: pointer;
}

.portrait {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.section-head {
  margin: 8px;
}

.interest-container {
  margin: 0;
  list-style-type: none;
  padding: 3px 0px 3px 3px;
}

.interest {
  border-radius: 10px;
  color: #ffffff;
  margin: 0.5em;
  padding: 8px 8px;
  text-align: center;
  text-transform: capitalize;
  display: inline-block;
}

.user-detail {
  margin-top: -16px;
  text-align: center;
}

.user-fullname {
  font-size: 2em;
  text-align: center;
}
.user-pub {
  text-align: center;
}

.pub-list {
  margin: 0;
  list-style-type: none;
  padding: 3px 0px 3px 3px;
}
.pub-list li {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0.8em;
  padding: 0 16px;
  margin: 8px;
}
.pediatric {
  background-color: #ff0000;
  border-color: #ff0000;
}

.cardiology {
  background-color: #5cb85c;
  border-color: #4cae4c;
}

.hernia {
  background-color: #e99c69;
  border-color: #e99c69;
}

.pathology {
  background-color: #28aae6;
  border-color: #28aae6;
}
.unselected {
  background-color: #e1d7d7;
  border-color: #e1d7d7;
}

.btn-custom-2 {
  color: #5bc0de;
  background-color: #ffffff;
  border-color: #46b8da;
}

.editPhoto {
  position: absolute;
  bottom: -10px;
  right: 20px;
}

a {
  color: #03a9f4;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #28aae6;
  text-decoration: underline;
}

.friends-container {
  margin: 0;
  list-style-type: none;
  padding: 3px 0px 3px 3px;
}

.friend {
  background-color: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 0.8em;
  padding: 8px;
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
}

.friend-img {
  max-width: 80vh;
  max-height: 108px;
}

.friend-detail {
  margin: -8px 8px;

}

@media screen and (max-width: 320px) {
  .friend-img {
    max-width: 60vh;
    max-height: 98px;
  }
  .friend-name {
    font-size: 1.5em;
  }

  .friend-institute {
    font-size: 0.68em;
  }
}

@media screen and (min-width: 320px) and (max-width: 480px) {
  .friend-img {
    max-width: 60vh;
    max-height: 100px;
  }
  .friend-name {
    font-size: 1.6em;
  }

  .friend-institute {
    font-size: 0.9em;
  }
}

@media screen and (min-width: 480px) {
  .friend-img {
    max-width: 60vh;
    max-height: 100px;
  }
  .friend-name {
    font-size: 1.6em;
  }

  .friend-institute {
    font-size: 1.5em;
  }
}

.right-btn-fix {
	margin-right: 10px;
}

.download-full {
  margin-left: 10px;
}

.author-link  {
  text-decoration: underline;
}

.not-accept-btn {
  margin-left: 10px;
}

.form-header {
  text-align: center;
}


.score-table td {
 height: 30px;
}

.score-table .space {
  width: 100px;
}
.score-table .score-radio {
  width: 50px;
  text-align: center;
}

.score-table .number {
  width: 20px;
  text-align: center;
}