/* CSS Document */
@media (min-width:1600px){

}
@media (min-width:1360px){

}
@media (min-width:1280px){

}
@media (min-width:920px){
	
}
@media (max-width:768px){

}
@media (min-width:768px){
}
@media (max-width:767px){
}